
 <div class="container align-items-start"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around start"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="40">
    <div fxFlex *ngIf="dish" [@visibility]="visibility">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail',prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
        <button mat-button>LIKE</button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail',next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
      </mat-card-actions>
    </mat-card>
  </div>

      
    </div>

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
      <mat-card>

       <mat-card-header>
          <mat-card-title>
            <h3>Comments</h3>
          </mat-card-title>
        </mat-card-header>
        
        <mat-card-content >
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let item of dish.comments">
            <p matLine>
            {{item.comment}}
            </p>
            <p matLine>
            {{item.rating}} Starts
            </p>
            <p matLine>
            -- {{item.author}} {{item.date | date}}
            </p>
            </mat-list-item>
          </mat-list>
      <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
        
        <mat-list role="list">
            <mat-list-item role="listitem" >
            <p matLine>
            {{commentForm.value.comment}}
            </p>
            <p matLine>
            {{commentForm.value.rating}} Starts
            </p>
            <p matLine>
            -- {{commentForm.value.author}}
            </p>
            </mat-list-item>
          </mat-list>
        
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>
        <br>
        <mat-slider step="1" max="5" formControlName="rating" thumbLabel tickInterval="1"></mat-slider>
        <br>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows="12">
          </textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white"
       [disabled]="commentForm.invalid">Submit</button>
      </form>
        </mat-card-content>
      </mat-card>
    </div>
    
    

    <div fxFlex [hidden]="dish || errMess">
      <mat-spinner></mat-spinner> <h4> Loading ... plaese wait</h4>
    </div>

    <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  </div>




















